@import url("./MerriweatherFont.css");

html,
body {
    color: #000a20;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
 }

h1 {
    resize: vertical;
    font-family: "Merriweather Bold", sans-serif;
}