@font-face {
    font-family: "Merriweather Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Merriweather Regular"), url("../fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather Bold";
    font-style: normal;
    font-weight: bold;
    src: local("Merriweather Bold"), url("../fonts/Merriweather/Merriweather-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather Light";
    font-style: normal;
    font-weight: 300;
    src: local("Merriweather Light"), url("../fonts/Merriweather/Merriweather-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather Italic";
    font-style: italic;
    font-weight: normal;
    src: local("Merriweather Italic"), url("../fonts/Merriweather/Merriweather-Italic.ttf") format("truetype");
}